*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'poppins' , sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0px 50px;
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555 ;
}
a:hover{
    color: #ff523b;
}
p{
    color:#555;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 300px;
}
.col img{
    max-width: 100%;
    padding: 50px 0;
}
.col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    border-radius: 30px;
    padding: 8px 20px;
    margin: 20px 0;
    transition: 0.5s ;
}
.background{
    background: radial-gradient(#fff, #35abbb);
}
.btn:hover{
    background: #563434;
}
.categories{
    margin: 70px 0;
}
.col-1{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-1 img{
    width: 100%;
}
.section{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px; 
    padding-right: 25px;
}
.col-2{
    flex-basis: 25px;
    padding: 10px;
    min-width: 220px;
    margin-bottom: 50px;
    /* transition: 0.5s; */
}
.col-2 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 5px;
    bottom: 0%;
    left: 50%;
    position: absolute;
    background: #ff523b;
    transform: translateX(-50%)
}
h4{
    color: #555;
    font-weight: normal;
}
.col-2 p{
    font-size: 14px;
} 
.rating .fa{
    color: #ff523b;
}
.col-2:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #35abbb);
    margin-top: 80px;
    padding: 30px 0;
}
.col .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.test{
    padding-top: 100px;
}
.test .col-2{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.5s;
}
.test .col-2 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.test .col-2:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 35px;
    color: #ff523b;
}
.col-2 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.test .col-2 h3{
    font-weight: 600;
    color: #555;
}
/* ---------- Brands section --------- */
.brands{
    flex-basis: 20%;
    margin: 100px auto;
    padding-left: 5%;

}
.col-4{
    width: 150px;
}
.col-4 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-4 img:hover{
    filter: grayscale(0%);
}
/* ----------------- footer ---------- */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.f-col-1, .f-col-2, .f-col-3, .f-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.f-col-1{
    flex-basis: 30%;
}
.f-col-2{
     flex:1;  /* ocuupied remaninig space */
     align-items: center;
}
.f-col-3, .f-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu{
    width: 28px;
    margin-left: 20px;
    display:none;
}

       /* Products page */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;    
}
.row-2 h2{
    margin-left: 30px;
}
select{
    border: 1px solid #ff534b;
    padding: 5px;
    margin-right: 30px;
}
select:focus{
    outline: none;
}
.cursor-btn{
    margin: 0 auto 80px;
}
.cursor-btn span{
    display: inline-block;
    border: 1px solid #ff523b ;
    margin-left: 10px;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.cursor-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/* //////////////// product detail/////////// */

.product{
    margin-top: 80px;
}
.product .col{
    padding: 20px;
}
.product .col img{
    padding: 0;
}
.product h4{
    margin:20px 0;
    font-size: 22px;
    font-weight: bold;
}
.product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right:10px ;
    border: 1 px solid #ff523b;
}
input:focus{
    outline: none;
}
.product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* Cart page */
.cart{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align:justify;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.remove{
    margin-top: 5%;
}
.total{
    display: flex;
    justify-content:center;
}
.total table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 100%;
}
td:last-child{
    text-align:right;
}
th:last-child{
    text-align: right;
}
/* Media query */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        color: #333;
        overflow: hidden;
        transition: max-height 0.5s ;
    }
    nav ul li{
        display: block;
        margin:10px 50px 10px 0;
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col, .col-1, .col-2{
        flex-basis: 100%;
    }
    .product .row{
        text-align: left;
    }
    .product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .product .col{
        padding: 20px 0;
    }
    .cart-info p{
        display: none;
    }

}